.banner {
    background: url(../images/home-header.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center center;
    color: $darkRed;

    .container {
        padding: $spacer*37 0px;
        text-align: right;
    }

    .subTitle {
        font-size: $size*2.25;
    }

    .title {
        font-size: $size*4;
        font-weight: 700;
    }

    .buy {
        color: $white;
        background-color: $mediumRed;
        padding: $spacer*0.75 $spacer*1.5;
        border: none;
        font-size: $size*1.25;
    }

    .buy:hover {
        background-color: $darkRed;
    }

}

@media(max-width: 992px) {
    .banner {
        .container {
            padding: $spacer*37 $spacer*4.5 $spacer*37 0px;
        }

    }
}

@media(max-width: 767px) {
    .banner {
        background: url(../images/home-header-sm.png) no-repeat;

        .subTitle {
            font-size: $size;
        }

        .title {
            font-size: $size*1.5;
        }

    }
}

.profession {
    padding: $spacer*10 0px;
    background-color: $lightRed;

    h2 {
        font-size: $size*3;
        font-weight: 700;
        color: $darkRed;
        text-align: center;
        margin-bottom: $spacer*4;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    li {
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        margin-bottom: $spacer*3;
        width: 83px;
        height: 83px;
    }

    h3 {
        font-size: $size*1.5;
        font-weight: 700;
        color: $darkRed;
        margin-bottom: $spacer;
    }
}

@media(max-width: 992px) {
    .profession {
        .container {
            padding: 0px $spacer*4.5;
        }

        li {
            width: 48%;
        }
    }
}

@media(max-width: 767px) {
    .profession {
        padding: $spacer*5 0px;

        li {
            width: 96%;
        }

        h2 {
            font-size: $size*1.5;
            margin-bottom: $spacer*3;
        }
    }
}

.classic {
    padding: $spacer*10 0px;

    h2 {
        font-size: $size*3;
        font-weight: 700;
        color: $darkRed;
        margin-bottom: $spacer*6;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    li {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        margin-bottom: $spacer;
    }

    img:hover {
        opacity: 0.8;
    }

    p {
        font-size: $size*3;
        font-weight: 700;
        color: $mediumRed;
        margin-bottom: $spacer*10;
    }

}

@media(max-width: 992px) {
    .classic {
        li {
            width: 100%;
            margin: 0px $spacer*27;
        }
    }


}

@media(max-width: 767px) {
    .classic {
        padding: $spacer*5 0px;

        li {
            margin: 0px;
        }

        h2 {
            font-size: $size*1.5;
            margin-bottom: $spacer*3;
        }
    }

}

.joint {
    background: url(../images/index-bg.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: $spacer*10;

    h2 {
        font-size: $size*3;
        font-weight: 700;
        color: $white;
        margin-bottom: $spacer*6;
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        width: 48%;
        background-color: $white;
    }

    p {
        font-size: $size*3;
        font-weight: 700;
        color: $mediumRed;
        padding: $spacer 0px;
        text-align: center;
    }
}

@media(max-width: 992px) {
    .joint {
        li {
            width: 100%;
            background-color: $white;
            margin-bottom: $spacer*3;
        }
    }
}

@media(max-width: 767px) {
    .joint {
        h2 {
            font-size: $size*1.5;
            margin-bottom: $spacer*3;
        }
    }
}

.customer {
    padding: $spacer*10 0;

    h2 {
        font-size: $size*3;
        font-weight: 700;
        color: $darkRed;
        margin-bottom: $spacer*6;
        text-align: center;
    }

    ul {
        display: flex;
        gap: $spacer*2;
    }

    li {
        width: 25%;
    }

    h4 {
        margin-bottom: $spacer;
    }

    span {
        font-size: $size*0.875;
        color: $darkGray;
    }

    .card-body {
        padding: 16px;
        box-shadow: 0px 2px 6px $mediumGray;
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        height: 205px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        display: block;
    }

    img:hover {
        opacity: 0.8;
    }
}

@media(max-width: 992px) {
    .customer {
        ul {
            flex-wrap: wrap;
            gap: $spacer*3;
        }

        li {
            width: 48%;
        }
    }

}

@media(max-width: 767px) {
    .customer {
        padding: $spacer*5 0;

        h2 {
            font-size: $size*1.5;
            margin-bottom: $spacer*3;
        }

        li {
            width: 100%;
        }
    }
}

.contactus {
    background: $lightRed;
    padding: $spacer*10 0;

    .container-sm {
        max-width: 636px;
        margin: 0 auto;
        padding-left: 36px;
        padding-right: 36px;
    }

    h2 {
        font-size: $size*3;
        font-weight: 700;
        color: $darkRed;
        margin-bottom: $spacer*6;
        text-align: center;
    }

    p {
        font-size: $size*1.25;
        margin-bottom: $spacer*3;
    }

    form label {
        margin-bottom: $spacer;
        display: block;
    }

    form input {
        width: 100%;
        margin-bottom: $spacer*2;
        height: 36px;
        border: 1px solid $black;
        background: $lightRed;
    }

    .agree {
        margin-bottom: $spacer*6;
    }

    .agree input {
        margin: 0px $spacer*0.5;
    }

    .check-btn {
        background: $mediumRed;
        color: $white;
        border: unset;
        padding: $spacer*2 $spacer*22;
        margin: 0 auto;
    }

    .check-btn:hover {
        background: $darkRed;
    }

    input,
    textarea {
        padding: 6px 12px;
    }

    .text-center {
        text-align: center;
    }

    #opinion {
        background: $lightRed;
        width: 100%;
    }
}

@media(max-width: 767px) {
    .contactus {
        padding: $spacer*5 0;

        h2 {
            font-size: $size*1.5;
            margin-bottom: $spacer*3;
        }

        p {
            font-size: $size*1.5;
        }

        .check-btn {
            background: $mediumRed;
            color: $white;
            border: unset;
            padding: $spacer*2 $spacer*17;
            margin: 0 auto;
        }
    }

}