//color
$white: #ffffff;
$black: #000000;
$lightRed: #FBF2F2;
$mediumRed: #AA0601;
$darkRed: #650300;
$lightGray: #DEE2E6;
$mediumGray: #D6D6D6;
$darkGray: #707070;

//text
$size: 16px;
$lineHeight: 1.5;
$spacer: 8px;