@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: unset; }

body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 16px; }

/* header */
.header {
  background: #AA0601;
  color: #ffffff; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header h1 {
    display: block;
    width: 80px;
    height: 48px;
    background: url(../images/logo-white.png);
    background-size: cover;
    /* 圖片取代文字技巧 */
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin: 16px 0px; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px; }
    .header .nav li {
      margin-left: 64px; }
    .header .nav li:hover {
      font-weight: 700;
      text-decoration: underline; }

@media (max-width: 767px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: unset; }
  .header h1 {
    margin: 16px 0; }
  .header .nav {
    text-align: center;
    width: 100%;
    font-size: 16px; }
    .header .nav li {
      width: 50%;
      padding: 12px 0px;
      margin-left: unset;
      outline: 1px #ffffff solid; }
    .header .nav li:hover {
      background: #650300;
      text-decoration: none; } }

.footer {
  background: #AA0601;
  color: #ffffff; }
  .footer .top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #db9694;
    padding-top: 48px;
    padding-bottom: 32px; }
  .footer .nav-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .nav-footer li {
      padding: 22px 48px 22px 0; }
    .footer .nav-footer li:hover {
      font-weight: 700;
      text-decoration: underline; }
  .footer .contact-footer {
    font-size: 36px; }
    .footer .contact-footer li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .contact-footer li span {
        margin-right: 22px; }
  .footer .sidebar-footer img {
    width: 48px;
    height: 48px;
    margin-left: 32px; }
  .footer .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 32px 0px; }
    .footer .bottom-footer .link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px; }
      .footer .bottom-footer .link li {
        margin-left: 48px; }
      .footer .bottom-footer .link li:hover {
        font-weight: 700;
        text-decoration: underline; }

@media (max-width: 992px) {
  .footer .nav-footer li {
    padding: 10px 32px 22px 0; } }

@media (max-width: 767px) {
  .footer .top-footer {
    padding-top: 24px;
    padding-bottom: 24px; }
  .footer .nav-footer {
    display: none; }
  .footer .contact-footer {
    font-size: 16px; }
    .footer .contact-footer li span {
      margin-right: 11px; }
  .footer .sidebar-footer img {
    width: 24px;
    height: 24px;
    margin-left: 8px; }
  .footer .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 16px;
    padding-bottom: 24px; }
    .footer .bottom-footer .link {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      font-size: 16px; }
      .footer .bottom-footer .link li {
        margin-left: unset;
        width: 100%;
        margin-top: 8px; } }

.banner {
  background: url(../images/home-header.png) no-repeat;
  background-size: cover;
  max-width: 100%;
  background-position: center center;
  color: #650300; }
  .banner .container {
    padding: 296px 0px;
    text-align: right; }
  .banner .subTitle {
    font-size: 36px; }
  .banner .title {
    font-size: 64px;
    font-weight: 700; }
  .banner .buy {
    color: #ffffff;
    background-color: #AA0601;
    padding: 6px 12px;
    border: none;
    font-size: 20px; }
  .banner .buy:hover {
    background-color: #650300; }

@media (max-width: 992px) {
  .banner .container {
    padding: 296px 36px 296px 0px; } }

@media (max-width: 767px) {
  .banner {
    background: url(../images/home-header-sm.png) no-repeat; }
    .banner .subTitle {
      font-size: 16px; }
    .banner .title {
      font-size: 24px; } }

.profession {
  padding: 80px 0px;
  background-color: #FBF2F2; }
  .profession h2 {
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    text-align: center;
    margin-bottom: 32px; }
  .profession ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .profession li {
    width: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .profession img {
    margin-bottom: 24px;
    width: 83px;
    height: 83px; }
  .profession h3 {
    font-size: 24px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 8px; }

@media (max-width: 992px) {
  .profession .container {
    padding: 0px 36px; }
  .profession li {
    width: 48%; } }

@media (max-width: 767px) {
  .profession {
    padding: 40px 0px; }
    .profession li {
      width: 96%; }
    .profession h2 {
      font-size: 24px;
      margin-bottom: 24px; } }

.classic {
  padding: 80px 0px; }
  .classic h2 {
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 48px;
    text-align: center; }
  .classic ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .classic li {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .classic img {
    margin-bottom: 8px; }
  .classic img:hover {
    opacity: 0.8; }
  .classic p {
    font-size: 48px;
    font-weight: 700;
    color: #AA0601;
    margin-bottom: 80px; }

@media (max-width: 992px) {
  .classic li {
    width: 100%;
    margin: 0px 216px; } }

@media (max-width: 767px) {
  .classic {
    padding: 40px 0px; }
    .classic li {
      margin: 0px; }
    .classic h2 {
      font-size: 24px;
      margin-bottom: 24px; } }

.joint {
  background: url(../images/index-bg.png) no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 80px; }
  .joint h2 {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 48px;
    text-align: center; }
  .joint ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .joint li {
    width: 48%;
    background-color: #ffffff; }
  .joint p {
    font-size: 48px;
    font-weight: 700;
    color: #AA0601;
    padding: 8px 0px;
    text-align: center; }

@media (max-width: 992px) {
  .joint li {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 24px; } }

@media (max-width: 767px) {
  .joint h2 {
    font-size: 24px;
    margin-bottom: 24px; } }

.customer {
  padding: 80px 0; }
  .customer h2 {
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 48px;
    text-align: center; }
  .customer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px; }
  .customer li {
    width: 25%; }
  .customer h4 {
    margin-bottom: 8px; }
  .customer span {
    font-size: 14px;
    color: #707070; }
  .customer .card-body {
    padding: 16px;
    -webkit-box-shadow: 0px 2px 6px #D6D6D6;
            box-shadow: 0px 2px 6px #D6D6D6;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    height: 205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .customer img {
    display: block; }
  .customer img:hover {
    opacity: 0.8; }

@media (max-width: 992px) {
  .customer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px; }
  .customer li {
    width: 48%; } }

@media (max-width: 767px) {
  .customer {
    padding: 40px 0; }
    .customer h2 {
      font-size: 24px;
      margin-bottom: 24px; }
    .customer li {
      width: 100%; } }

.contactus {
  background: #FBF2F2;
  padding: 80px 0; }
  .contactus .container-sm {
    max-width: 636px;
    margin: 0 auto;
    padding-left: 36px;
    padding-right: 36px; }
  .contactus h2 {
    font-size: 48px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 48px;
    text-align: center; }
  .contactus p {
    font-size: 20px;
    margin-bottom: 24px; }
  .contactus form label {
    margin-bottom: 8px;
    display: block; }
  .contactus form input {
    width: 100%;
    margin-bottom: 16px;
    height: 36px;
    border: 1px solid #000000;
    background: #FBF2F2; }
  .contactus .agree {
    margin-bottom: 48px; }
  .contactus .agree input {
    margin: 0px 4px; }
  .contactus .check-btn {
    background: #AA0601;
    color: #ffffff;
    border: unset;
    padding: 16px 176px;
    margin: 0 auto; }
  .contactus .check-btn:hover {
    background: #650300; }
  .contactus input,
  .contactus textarea {
    padding: 6px 12px; }
  .contactus .text-center {
    text-align: center; }
  .contactus #opinion {
    background: #FBF2F2;
    width: 100%; }

@media (max-width: 767px) {
  .contactus {
    padding: 40px 0; }
    .contactus h2 {
      font-size: 24px;
      margin-bottom: 24px; }
    .contactus p {
      font-size: 24px; }
    .contactus .check-btn {
      background: #AA0601;
      color: #ffffff;
      border: unset;
      padding: 16px 136px;
      margin: 0 auto; } }

/*# sourceMappingURL=all.css.map */
